*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: "Jaldi";
    margin: 2rem;
    background-color: #0ac3a7;
    color: #fffdd8;
}

.elementsgrid{
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3,5rem);
    gap: 2rem;
    margin: 2rem auto;
   
    
}


.case{
    border:  1px solid #fffdd8;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;

}




p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

